<div id="footer">
      <div class="container">
        <p class="muted credit">
			<%= link_to 'About ', '/about' %>
	        &copy;2016 <%= link_to 'Michael Gokey ', '/resume' %>       
    	</p>
      </div>
</div>
